$blue: #8AD0C8;
$grey: #939597;

$bg: #FFF;

$text: #000;
$link: #000;
$hover: $grey;

$main: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$headings: "oswald", sans-serif;

$width-outer: 100%;
$width: $width-outer - 15%;
$width-max: 1280px;

$border: 1px solid #000;