#site-footer {
	padding-top: 35px;
}
#copyright {
	clear: both;
	text-align: center;
	padding: 40px 0 55px;
	a {
		color: $link;	
		&:focus,
		&:hover {
			text-decoration: underline;	
		}
	}
}
.footer-nav {
	display: inline-block;
	float: left;
	text-align: left;
	width: 20%;
	span {
		font-family: $headings;
		font-size: 14px;
		text-transform: uppercase;
	}
	ul {
		list-style: none;	
		padding-top: 10px;
		margin: 0;
	}
	li {
	}
}
.mailing-list {
	p {
		padding-top: 10px;
		font-style: italic;
		margin-bottom: 5px;
	}
	input {
		width: 180px;
		margin-bottom: 10px;
	}
}